.userPhoto {
   width: 60px;
   height: 60px;
   border-radius: 20px;
 }
 
 .status {
   font-style: italic;
 }
 
 .user {
   padding: 3px;
   background-color: #2b2a33;
   margin-bottom: 8px;
 }
 
 .usersNav {
   background-color: #2b2a33;
   margin-bottom: 8px;
   padding: 2px;
 }
 
 .Link {
   color: #777777;
   text-decoration: none;
 }
 .Link:active {
   color: white;
   text-decoration: none;
 }
 